@media (max-width: 415px) {
     h1 {
          font-size: 36px;
          line-height: 42px;
     }
     header {
          padding: 25px 25px;
     }
     header.wide {
          display: none;
     }
     header.mobile {
          display: initial;
     }
     main {
          flex-direction: column;
          align-items: center;
     }
}
